extends layout

block content
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar(ng-controller='ChannelController', ng-init='loadChannel("#{channel}")')
        ul.nav.nav-sidebar
          li.active
            a(href='#')
              span(ng-bind="'#' + channel.name")
              span.sr-only (current)
          li(ng-repeat="(index, row) in users")
            a(href='#', ng-bind='user.name')

        .row
          form.form-horizontal(ng-controller='MessageController', ng-submit='createMessage("#{channel}")')
            textarea#inputMessage.form-control(placeholder='Your message', required='', name='message', rows=3, cols=120, ng-model='message.content')

            hr

            button.btn.btn-lg.btn-primary.pull-right(type='submit') Send

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main.messageList(ng-controller='MessageController', ng-init='loadMessages("#{channel}")')
        .table-responsive.table-messages
          table.table.table-striped
            tr(ng-repeat="(index, row) in messages")
              td.col-md-1.col-lg-1.col-xs-1.text-center
                a(href='#')
                  img.img-thumbnail(gravatar-src="row.user.email", gravatar-size="64")
                  br
                  span(ng-bind='row.user.name')
                  br
                  span.text-muted(ng-bind='row.created | date  : "mediumTime"')
              td.text-left(ng-bind='row.content')
