extends layout

block content
  .container-fluid(ng-controller='ChannelController', ng-init='loadChannels()')
    .row
      h1.page-header Channels
      .table-responsive
        table.table.table-striped
          thead
            tr
              th.col-md-1.col-lg-1 #
              th.col-md-7.col-lg-7 Name
              th.col-md-3.col-lg-3 Creator
              th.col-md-1.col-lg-1 Created
          tbody
            tr(ng-repeat="(index, row) in channels")
              td(ng-bind='index')
              td
                a(ng-href='/channel/{{ row._id }}', ng-bind='row.name')
              td
                a(href='#', ng-bind='row.user.name')
              td(ng-bind='row.created | date  : "mediumDate" ')
          tfoot
            tr
              td.text-right(colspan=4)
                a.btn.btn-primary(type='submit', data-toggle="modal", data-target="#myModal") Create Channel

  // Modal
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        form.form-horizontal(ng-controller='ChannelController', ng-submit='createChannel()')
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Create Channel
          .modal-body
            // Prepended text
            .form-group
              label.col-md-4.control-label(for='prependedtext') Name
              .col-md-8
                .input-group
                  span.input-group-addon #
                  input#prependedtext.form-control(name='name', placeholder='channelName', type='text', required='', ng-model='channel.name')
                p.help-block Please, insert a name for your new channel
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='submit') Save changes
