extends layout

block content
  .container(ng-controller='HomeController')
    form.form-signin(ng-submit='login()')
      img.img-responsive.img-rounded(src='/images/logo.png', alt='eGenius - Logo')

      h2.form-signin-heading Please sign in

      label.sr-only(for='inputEmail') Email address
      input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='', ng-model='user.email')

      label.sr-only(for='inputPassword') Password
      input#inputPassword.form-control(type='password', placeholder='Password', required='', ng-model='user.password')

      .row
        .col-lg-6
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        .col-lg-6
          a.btn.btn-lg.btn-success.btn-block(href='/signup/') Sign up
  // /container
