doctype html
html(lang='en', ng-app="myApp")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    title= title

    // Core CSS
    link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='/bower_components/angular-loading-bar/build/loading-bar.min.css', rel='stylesheet')
    link(href='/bower_components/ng-notify/dist/ng-notify.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/stylesheets/signin.css', rel='stylesheet')
    link(href='/stylesheets/channels.css', rel='stylesheet')

    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    - if (session.user)
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              span.hidden eGenius - Chat

          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/channels/') Channels
              li
                a(href='/signout/') Logout

    span(us-spinner='{radius:30, width:8, length: 16}')
    block content

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-i18n/angular-locale_pt-br.js')
    script(src='/bower_components/angular-route/angular-route.js')
    script(src='/bower_components/angular-loading-bar/build/loading-bar.min.js')
    script(src='/bower_components/angular-flash-alert/dist/angular-flash.min.js')
    script(src='/bower_components/ng-notify/dist/ng-notify.min.js')
    script(src='/bower_components/angular-gravatar/build/angular-gravatar.min.js')
    script(src='/javascripts/home.js')
    script(src='/javascripts/signup.js')
    script(src='/javascripts/channel.js')
    script(src='/javascripts/message.js')
    script(src='/javascripts/app.js')
