extends layout

block content
  .container(ng-controller='SignupController')
    form.form-signup(ng-submit='signup()')
      img.img-responsive.img-rounded(src='/images/logo.png', alt='eGenius - Logo')

      h2.form-signups-heading Sign Up

      label.sr-only(for='inputName') Name
      input#inputName.form-control(type='text', placeholder='Your Name', required='', autofocus='', ng-model='user.name')

      label.sr-only(for='inputEmail') Email
      input#inputEmail.form-control(type='email', placeholder='Email address', required='', ng-model='user.email')

      label.sr-only(for='inputPassword') Password
      input#inputPassword.form-control(type='password', placeholder='Password', required='', ng-model='user.password')

      .row
        .col-lg-6
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign up
        .col-lg-6
          a.btn.btn-lg.btn-success.btn-block(href='/') Back
  // /container
