.form-signin, .form-signup{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signup .form-signin-heading,
.form-signin .checkbox,
.form-signup .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox,
.form-signup .checkbox {
    font-weight: normal;
}
.form-signin .form-control,
.form-signup .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus,
.form-signup .form-control:focus {
    z-index: 2;
}
.form-signup input[type="text"],
.form-signin input[type="text"],
.form-signup input[type="email"],
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signup input[type="password"],
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
