body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-brand {
  display: inline-block;
  height: 45px;
  width: 145px;
  background-image: url("/images/logo-white.png");
  background-size: 115px;
  background-repeat: no-repeat;
  background-position: top left;
}
